@page "/calculator"
<h3>Calculator</h3>

<h2>20 + 10 = @BlazorCourseWebAssembly.Class.Calculator.Sum(20,10)</h2>
<h2>20 - 10 = @BlazorCourseWebAssembly.Class.Calculator.Subtract(20,10)</h2>
<h2>20 * 10 = @BlazorCourseWebAssembly.Class.Calculator.Multiplication(20,10)</h2>

@code {

}
