@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Blazor WebAssembly Course App!</h1>
<img src="https://www.kindpng.com/picc/m/123-1239161_widepeepohappy-png-transparent-png.png">
<h2>In that application, you'll see basic stuff built with Blazor. </h2><br>
<h2>Check the following links to get more details for how it works. Each link will have a page in the Pages folder with the content in it on Blazor:</h2>
<h3><a href="/basics">Basics</a><br>
<a href="/calculator">Calculator</a><br>
<a href="/forforeach">For/Foreach</a><br>
<a href="/databinding">Data Binding</a><br>
<a href="/databinding2">Data Binding2</a><br>
<a href="/counter">Counter</a><br>
<a href="/fetchdata">Fetch Data</a><br></h3>