@page "/taskproject"
<h3>Tasks</h3>
@inject HttpClient http
<Tasks tasks ="GetTasks()" title="Task List"/>
@code{
    List<BlazorCourseWebAssembly.Entities.Task> tasks = new List<BlazorCourseWebAssembly.Entities.Task>();
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        tasks = await http.GetFromJsonAsync<List<BlazorCourseWebAssembly.Entities.Task>>("data/data.json");
    }
    private List<BlazorCourseWebAssembly.Entities.Task> GetTasks()
    {
        return tasks;
    }

}
